<div class="row">

    <div class="column" style="background-color:whitesmoke;">

      <h2>Flip Flop</h2>

      <div style="width:500px; height:300px; border:1px solid black;">

<img src="../assets/Images/Flip Flop.jpg" height="270" width="470" style="margin-left: 10px;margin-top: 10px;">

</div>

    </div>



    <div class="column" style="background-color:whitesmoke;">

        <h2>Mens Footwear</h2>
  
        <p>Flip Flop (Black & White)</p>
  
        <h2><b><i class="fas fa-rupee-sign"></i>499</b></h2>
  
        <h4>Available offers</h4>
  
        
  
            <p><i style='font-size:12px' class='fas'>&#xf02b;</i> Partner OfferSign up for Flipkart Pay Later and get Flipkart Gift Card worth ₹100*</p>
  
            <p><i style='font-size:12px' class='fas'>&#xf02b;</i> Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit Card</p>
  
            <p><i style='font-size:12px' class='fas'>&#xf02b;</i> Partner OfferSign up for Flipkart Pay Later and get Flipkart Gift Card worth ₹100*</p>
  
        
  
        <button style="margin-left: 500px;" type="button" class="my-button"><b>Order</b></button>
  
      </div>
  
    </div>


    <!-- kids2 footwear -->

   
    <div class="row1">

        <div class="column" style="background-color:whitesmoke;">
    
            <h2>Crocs</h2>
    
            <div style="width:500px; height:300px; border:1px solid black;">
    
      <img src="../assets/Images/Crocs.jpg" height="270" width="470" style="margin-left: 10px;margin-top: 10px;">
    
      </div>
    
          </div>
    
          <div class="column" style="background-color:whitesmoke;">
    
            <h2>Mens Footwear</h2>
    
            <p>Crocs (Three Colors)</p>
    
            <h2><b><i class="fas fa-rupee-sign"></i>699</b></h2>

            <h4>Available offers</h4>
  
          
      
               <p><i style='font-size:12px' class='fas'>&#xf02b;</i> Partner OfferSign up for Flipkart Pay Later and get Flipkart Gift Card worth ₹100*</p>
      
                <p><i style='font-size:12px' class='fas'>&#xf02b;</i> Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit Card</p>
      
                <p><i style='font-size:12px' class='fas'>&#xf02b;</i> Partner OfferSign up for Flipkart Pay Later and get Flipkart Gift Card worth ₹100*</p>
      
           
      
            <button style="margin-left: 500px;" type="button" class="my-button"><b>Order</b></button>
    
    
          </div>
    
       
    
      </div>    
    


